<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style/styles.css">
    <title>
        <%= planet.name %>
    </title> <!-- Dynamic title based on planet name -->
</head>

<body>
   

    <h1><%= planet.name %></h1>
    <!-- Conditional rendering based on fruit's readiness -->
    <% if (planet.hasAtmosphere) { %>
      <p>This planet has an atmosphere!</p>
    <% } else { %>
      <p>This planet does not have an atmosphere!</p>
    <% } %>

    <nav>
        <ul>
            <li>
                <a href="/planets/<%= planet._id %>/edit">Edit <%= planet.name %></a>
            </li>
            <li>
                <a href="/planets/">Back to Planets</a>
            </li>   
        </ul>
    </nav>

    <form action="/planets/<%=planet._id%>?_method=DELETE" method="POST">
        <button type="submit">Delete <%= planet.name %></button>
    </form>

    <img class="space-pic2"
    src="https://i.pinimg.com/736x/76/af/4a/76af4a015cf1aff243498997bdae297f--science-universe.jpg"
    alt="picture of weird looking planet" />
    
</body>

</html>